body {
    padding-left: 40px;
    padding-right: 100px;
}


h2.blogheading {
    display: inline;
   /* background-color: lightgrey; */ /* for development only */
}

div.blogheading {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    border-bottom: double;
    /*background-color: lightblue;*/ /* for development only */
}

span.blogheading {
    padding-top: 8px;
    float: right;
    background-color: lightgreen;
}

button.edit {
    width: 60px;
    height: 2.5em;
    border: 2px solid;
    border-radius:8px;
    float: right;
    background-color: white;
    color: #228B22;
    color: black;
}  

button.edit:hover{
    background-color: #228B22;
    color: white;
    border: 2px solid;
    border-color: black;
}  

button.show {
    width: 60px;
    height: 2.5em;
    float: right;
    background-color: white;
    border-radius:8px;
    color: black;
    border: 2px solid;
    border-color: black;
    margin-left: 2px;
}  

button.show:hover{
    background-color: #white;
    color: blue;
    border-radius:8px;
    border: 2px solid;
    border-color: black;
    margin-left: 2px;
}  

#del {
    width: 60px;
    height: 2.5em;
    border: 2px solid;
    border-radius:8px;
    background-color: white;
    color: black;
}  

#del:hover{
    background-color: #CD0000;
    color: white;
    border: 2px solid;
    border-color: black;
}  

#post {
    width: 60px;
    height: 2.5em;
    border: 2px solid;
    border-radius:8px;
    background-color: white;
    color: #228B22;
    color: black;
}  

#post:hover{
    background-color: #228B22;
    color: white;
    border: 2px solid;
    border-color: black;
}  

/* get rid of the inner border on click*/
button::-moz-focus-inner {
    border: 0;
}

textarea{
    width: 500px;
    height: 400px;
    padding: 2px;
    border: 2px solid;
    border-radius:8px;
    background-color: white;
}
/* form title field */
input[type="text"]{
    width:300px;
    padding: 2px;
    border: 2px solid;
    border-radius:8px;
    background-color: white;
}

.hidden { display : none; }
.unhidden { display : block; }
